@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DM_Sans/static/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DM_Sans/static/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:root {
  --color-neutral-0: #ffffff;
  --color-neutral-100: #f2f2f7;
  --color-neutral-200: #e4e4ef;
  --color-neutral-600: #404254;
  --color-neutral-700: #2a2b37;
  --color-neutral-800: #21222c;
  --color-neutral-900: #12131a;
  --color-purple-500: #c27cf8;
  --color-purple-400: #d3a0fa;
  --color-yellow-500: #ff9f00;
  --color-orange-800: #da3701;
  --color-orange-500: #fe8159;
}

body {
  background-image: url("/assets/images/bg-dark-theme.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: "DM Sans", sans-serif;
  border: none;
  cursor: pointer;
}

/* Headers and Containers */

.container {
  margin: 32px 225px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  max-width: 245px;
  max-height: 40px;
}

.btn-theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-neutral-700);
  border-radius: 8px;
  height: 44px;
  width: 44px;
}
.theme-toggle_icon {
  width: 22px;
  height: 22px;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-container > h1 {
  color: var(--color-neutral-100);
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 100%;
  text-align: center;
  width: 510px;
}

/* Main Section */
#main-section-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-textarea {
  background: var(--color-neutral-800);
  border-radius: 12px;
  color: var(--color-neutral-200);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.6px;
  padding: 20px;
  height: 200px;
  width: 100%;
  resize: none;
  border: 2px solid var(--color-neutral-700);
}

.input-textarea:focus {
  outline: none;
  border-color: var(--color-purple-500);
}
.input-textarea:hover {
  cursor: pointer;
}

.input-textarea::placeholder {
  color: var(--color-neutral-200);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.6px;
}

.light-textarea::placeholder {
  color: var(--color-neutral-900);
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-neutral-200);
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
}

.exclude-spaces-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: none;
  border: 1px solid var(--color-neutral-0);
  border-radius: 4px;
  cursor: pointer;
}

[type="checkbox"]:checked {
  background: var(--color-purple-400);
  border-color: var(--color-purple-500);
  background-image: url("/assets//images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

[type="checkbox"]:focus {
  outline: none;
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px var(--color-purple-500);
}

#character-limit-input {
  background-color: transparent;
  border-radius: 6px;
  color: var(--color-neutral-200);
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
  padding: 4px 12px;
  width: 55px;
  border: 1px solid var(--color-neutral-600);
}

/* Statistics and Density */

#stat-density-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stat-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.stat-card-container > div:nth-child(1) {
  background-color: var(--color-purple-400);
}

.stat-card-container > div:nth-child(2) {
  background-color: var(--color-yellow-500);
}

.stat-card-container > div:nth-child(3) {
  background-color: var(--color-orange-500);
}

.stat-card {
  display: flex;
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 12px;
}

.stat-card:hover {
  cursor: pointer;
  scale: 1.02;
  transition: scale 0.3s ease-in-out;
}

.stat-card > div:first-child {
  width: 70%;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.stat-card > div:first-child > p:first-child {
  color: var(--color-neutral-900);
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 100%;
}

.stat-card > div:first-child > p:last-child {
  color: var(--color-neutral-900);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: 140%;
}

.stat-card > div:last-child {
  width: 30%;
}

/* Letter Density */
#letter-density-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#letter-density-container > h2 {
  color: var(--color-neutral-200);
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -1px;
}

#see-more-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  color: var(--color-neutral-200);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.6px;
  cursor: pointer;
}

.see-more-icon {
  width: 10px;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 14px;
}

.letter-label {
  width: 16px;
  color: var(--color-neutral-200);
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
}

.progress-bar-container {
  position: relative;
  overflow: hidden;
  flex: 1;
  border-radius: 999px;
  width: 100%;
  height: 12px;
  flex-shrink: 0;
  background-color: var(--color-neutral-800);
}

.progress-bar-fill {
  background: var(--color-purple-500);
  border-radius: 999px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.letter-percentage {
  text-align: right;
  width: 87px;
  color: var(--color-neutral-200);
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
}

/* Media Queries */
/* Tablet */
@media (max-width: 768px) {
  .container {
    margin: 18px 32px;
    gap: 40px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .container {
    margin: 17px 16px;
  }

  #header-container > h1 {
    width: 100%;
    font-size: 40px;
  }
  .options-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .exclude-spaces-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .stat-card-container {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .progress-bar-container {
    height: 12px;
  }
}

/* Light theme - Letter Density */
body.light-theme .letter-label,
body.light-theme .letter-percentage {
  color: var(--color-neutral-900);
}

body.light-theme .progress-bar-container {
  background-color: var(--color-neutral-100);
}

body.light-theme #see-more-btn {
  color: var(--color-neutral-900);
}

body.light-theme #letter-density-container > p {
  color: var(--color-neutral-900);
}

.density-empty-msg {
  color: var(--color-neutral-200);
}

body.light-theme .density-empty-msg {
  color: var(--color-neutral-600);
}
